/.idea
/out/build/*
/deps
/.pkg.mutex
/osm-data
/gcc12-toolchain.cmake
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/buildcache-linux.tar.gz
build/cmake_install.cmake
build/CMakeCache.txt
build/libosr.a
build/osr-backend
build/osr-benchmark
build/osr-extract
build/osr-test
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/DetectArchitecture.bin
build/CMakeFiles/DetectFpuAbi.bin
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.29.2/CMakeASMCompiler.cmake
build/CMakeFiles/3.29.2/CMakeCCompiler.cmake
build/CMakeFiles/3.29.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.29.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.29.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.29.2/CMakeSystem.cmake
build/CMakeFiles/3.29.2/CompilerIdC/a.out
build/CMakeFiles/3.29.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.29.2/CompilerIdCXX/a.out
build/CMakeFiles/3.29.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/CheckTypeSize/OFF64_T.bin
build/CMakeFiles/CheckTypeSize/SIZEOF_TIME_T.bin
build/CMakeFiles/osr-backend.dir/exe/backend/src/http_server.cc.o
build/CMakeFiles/osr-backend.dir/exe/backend/src/main.cc.o
build/CMakeFiles/osr-benchmark.dir/exe/benchmark.cc.o
build/CMakeFiles/osr-extract.dir/exe/extract.cc.o
build/CMakeFiles/osr-test.dir/test/extract_test.cc.o
build/CMakeFiles/osr-test.dir/test/level_test.cc.o
build/CMakeFiles/osr-test.dir/test/main.cc.o
build/CMakeFiles/osr.dir/src/extract.cc.o
build/buildcache/bin/buildcache
build/buildcache/share/lua-examples/clang_tidy_wrapper.lua
build/buildcache/share/lua-examples/echo_wrapper.lua
build/buildcache/share/lua-examples/gcc_wrapper.lua
build/buildcache/share/lua-examples/ti_c6x_wrapper.lua
build/deps/cmake_install.cmake
build/deps/LuaJIT/cmake_install.cmake
build/deps/LuaJIT/src/buildvm_arch.h
build/deps/LuaJIT/src/buildvm_flags.config
build/deps/LuaJIT/src/cmake_install.cmake
build/deps/LuaJIT/src/libluajit.a
build/deps/LuaJIT/src/lj_bcdef.h
build/deps/LuaJIT/src/lj_ffdef.h
build/deps/LuaJIT/src/lj_folddef.h
build/deps/LuaJIT/src/lj_libdef.h
build/deps/LuaJIT/src/lj_recdef.h
build/deps/LuaJIT/src/lj_vm.S
build/deps/LuaJIT/src/minilua
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_aux.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_base.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_bit.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_buffer.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_debug.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_ffi.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_init.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_io.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_jit.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_math.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_os.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_package.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_string.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lib_table.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_alloc.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_api.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_asm.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_bc.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_bcread.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_bcwrite.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_buf.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_carith.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_ccall.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_ccallback.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_cconv.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_cdata.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_char.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_clib.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_cparse.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_crecord.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_ctype.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_debug.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_dispatch.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_err.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_ffrecord.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_func.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_gc.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_ir.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_lex.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_lib.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_load.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_mcode.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_meta.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_obj.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_opt_dce.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_opt_fold.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_opt_loop.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_opt_mem.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_opt_narrow.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_opt_sink.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_opt_split.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_parse.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_prng.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_profile.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_record.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_serialize.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_snap.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_state.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_str.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_strfmt_num.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_strfmt.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_strscan.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_tab.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_trace.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_udata.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_vm.S.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_vmevent.c.o
build/deps/LuaJIT/src/CMakeFiles/libluajit.dir/lj_vmmath.c.o
build/deps/LuaJIT/src/CMakeFiles/minilua.dir/host/minilua.c.o
build/deps/LuaJIT/src/host/cmake/buildvm/buildvm
build/deps/LuaJIT/src/host/cmake/buildvm/cmake_install.cmake
build/deps/LuaJIT/src/host/cmake/buildvm/CMakeFiles/buildvm.dir/__/__/buildvm_asm.c.o
build/deps/LuaJIT/src/host/cmake/buildvm/CMakeFiles/buildvm.dir/__/__/buildvm_fold.c.o
build/deps/LuaJIT/src/host/cmake/buildvm/CMakeFiles/buildvm.dir/__/__/buildvm_lib.c.o
build/deps/LuaJIT/src/host/cmake/buildvm/CMakeFiles/buildvm.dir/__/__/buildvm_peobj.c.o
build/deps/LuaJIT/src/host/cmake/buildvm/CMakeFiles/buildvm.dir/__/__/buildvm.c.o
build/deps/LuaJIT/src/jit/vmdef.lua
build/deps/boost/cmake_install.cmake
build/deps/boost/libboost-iostreams.a
build/deps/boost/libboost-json.a
build/deps/boost/libboost-program_options.a
build/deps/boost/libboost-thread.a
build/deps/boost/CMakeFiles/boost-iostreams.dir/libs/iostreams/src/file_descriptor.cpp.o
build/deps/boost/CMakeFiles/boost-iostreams.dir/libs/iostreams/src/gzip.cpp.o
build/deps/boost/CMakeFiles/boost-iostreams.dir/libs/iostreams/src/mapped_file.cpp.o
build/deps/boost/CMakeFiles/boost-iostreams.dir/libs/iostreams/src/zlib.cpp.o
build/deps/boost/CMakeFiles/boost-json.dir/libs/json/src/src.cpp.o
build/deps/boost/CMakeFiles/boost-program_options.dir/libs/program_options/src/cmdline.cpp.o
build/deps/boost/CMakeFiles/boost-program_options.dir/libs/program_options/src/config_file.cpp.o
build/deps/boost/CMakeFiles/boost-program_options.dir/libs/program_options/src/convert.cpp.o
build/deps/boost/CMakeFiles/boost-program_options.dir/libs/program_options/src/options_description.cpp.o
build/deps/boost/CMakeFiles/boost-program_options.dir/libs/program_options/src/parsers.cpp.o
build/deps/boost/CMakeFiles/boost-program_options.dir/libs/program_options/src/positional_options.cpp.o
build/deps/boost/CMakeFiles/boost-program_options.dir/libs/program_options/src/split.cpp.o
build/deps/boost/CMakeFiles/boost-program_options.dir/libs/program_options/src/utf8_codecvt_facet.cpp.o
build/deps/boost/CMakeFiles/boost-program_options.dir/libs/program_options/src/value_semantic.cpp.o
build/deps/boost/CMakeFiles/boost-program_options.dir/libs/program_options/src/variables_map.cpp.o
build/deps/boost/CMakeFiles/boost-program_options.dir/libs/program_options/src/winmain.cpp.o
build/deps/boost/CMakeFiles/boost-thread.dir/libs/thread/src/future.cpp.o
build/deps/boost/CMakeFiles/boost-thread.dir/libs/thread/src/tss_null.cpp.o
build/deps/boost/CMakeFiles/boost-thread.dir/libs/thread/src/pthread/once_atomic.cpp.o
build/deps/boost/CMakeFiles/boost-thread.dir/libs/thread/src/pthread/once.cpp.o
build/deps/boost/CMakeFiles/boost-thread.dir/libs/thread/src/pthread/thread.cpp.o
build/deps/boost/libs/atomic/cmake_install.cmake
build/deps/boost/libs/atomic/libboost_atomic.a
build/deps/boost/libs/atomic/CMakeFiles/boost_atomic.dir/src/lock_pool.cpp.o
build/deps/boost/libs/filesystem/cmake_install.cmake
build/deps/boost/libs/filesystem/libboost_filesystem.a
build/deps/boost/libs/filesystem/CMakeFiles/boost_filesystem.dir/src/codecvt_error_category.cpp.o
build/deps/boost/libs/filesystem/CMakeFiles/boost_filesystem.dir/src/directory.cpp.o
build/deps/boost/libs/filesystem/CMakeFiles/boost_filesystem.dir/src/exception.cpp.o
build/deps/boost/libs/filesystem/CMakeFiles/boost_filesystem.dir/src/operations.cpp.o
build/deps/boost/libs/filesystem/CMakeFiles/boost_filesystem.dir/src/path_traits.cpp.o
build/deps/boost/libs/filesystem/CMakeFiles/boost_filesystem.dir/src/path.cpp.o
build/deps/boost/libs/filesystem/CMakeFiles/boost_filesystem.dir/src/portability.cpp.o
build/deps/boost/libs/filesystem/CMakeFiles/boost_filesystem.dir/src/unique_path.cpp.o
build/deps/boost/libs/filesystem/CMakeFiles/boost_filesystem.dir/src/utf8_codecvt_facet.cpp.o
build/deps/cista/cmake_install.cmake
build/deps/cista/tools/doctest/cmake_install.cmake
build/deps/cista/tools/uniter/cmake_install.cmake
build/deps/clipper/cmake_install.cmake
build/deps/clipper/libclipper.a
build/deps/clipper/CMakeFiles/clipper.dir/src/clipper.cpp.o
build/deps/concurrentqueue/cmake_install.cmake
build/deps/conf/cmake_install.cmake
build/deps/conf/libconf.a
build/deps/conf/CMakeFiles/conf.dir/src/configuration.cc.o
build/deps/conf/CMakeFiles/conf.dir/src/date_time.cc.o
build/deps/conf/CMakeFiles/conf.dir/src/duration.cc.o
build/deps/conf/CMakeFiles/conf.dir/src/options_parser.cc.o
build/deps/doctest/cmake_install.cmake
build/deps/doctest/CMakeFiles/Export/fa5ba3fec28c3a20c06e45fe40ff2f72/doctestTargets.cmake
build/deps/doctest/generated/doctestConfig.cmake
build/deps/doctest/generated/doctestConfigVersion.cmake
build/deps/expat/cmake_install.cmake
build/deps/expat/libexpat.a
build/deps/expat/CMakeFiles/expat.dir/src/xmlparse.c.o
build/deps/expat/CMakeFiles/expat.dir/src/xmlrole.c.o
build/deps/expat/CMakeFiles/expat.dir/src/xmltok_impl.c.o
build/deps/expat/CMakeFiles/expat.dir/src/xmltok_ns.c.o
build/deps/expat/CMakeFiles/expat.dir/src/xmltok.c.o
build/deps/fmt/cmake_install.cmake
build/deps/fmt/fmt-config-version.cmake
build/deps/fmt/fmt-config.cmake
build/deps/fmt/fmt-targets.cmake
build/deps/fmt/fmt.pc
build/deps/fmt/libfmt.a
build/deps/fmt/CMakeFiles/Export/b834597d9b1628ff12ae4314c3a2e4b8/fmt-targets-release.cmake
build/deps/fmt/CMakeFiles/Export/b834597d9b1628ff12ae4314c3a2e4b8/fmt-targets.cmake
build/deps/fmt/CMakeFiles/fmt.dir/src/format.cc.o
build/deps/fmt/CMakeFiles/fmt.dir/src/os.cc.o
build/deps/geo/cmake_install.cmake
build/deps/geo/libgeo.a
build/deps/geo/CMakeFiles/geo.dir/src/cluster_nearby.cc.o
build/deps/geo/CMakeFiles/geo.dir/src/latlng.cc.o
build/deps/geo/CMakeFiles/geo.dir/src/point_rtree.cc.o
build/deps/geo/CMakeFiles/geo.dir/src/polygon.cc.o
build/deps/geo/CMakeFiles/geo.dir/src/polyline.cc.o
build/deps/geo/CMakeFiles/geo.dir/src/tile.cc.o
build/deps/googletest/cmake_install.cmake
build/deps/googletest/CTestTestfile.cmake
build/deps/googletest/googlemock/cmake_install.cmake
build/deps/googletest/googlemock/CTestTestfile.cmake
build/deps/googletest/googletest/cmake_install.cmake
build/deps/googletest/googletest/CTestTestfile.cmake
build/deps/googletest/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets-release.cmake
build/deps/googletest/googletest/CMakeFiles/Export/0c08b8e77dd885bfe55a19a9659d9fc1/GTestTargets.cmake
build/deps/googletest/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
build/deps/googletest/googletest/generated/gmock_main.pc
build/deps/googletest/googletest/generated/gmock.pc
build/deps/googletest/googletest/generated/gtest_main.pc
build/deps/googletest/googletest/generated/gtest.pc
build/deps/googletest/googletest/generated/GTestConfig.cmake
build/deps/googletest/googletest/generated/GTestConfigVersion.cmake
build/deps/libosmium/cmake_install.cmake
build/deps/libressl/cmake_install.cmake
build/deps/libressl/cmake_uninstall.cmake
build/deps/libressl/CTestTestfile.cmake
build/deps/libressl/apps/cmake_install.cmake
build/deps/libressl/apps/CTestTestfile.cmake
build/deps/libressl/apps/nc/cmake_install.cmake
build/deps/libressl/apps/nc/CTestTestfile.cmake
build/deps/libressl/apps/ocspcheck/cmake_install.cmake
build/deps/libressl/apps/ocspcheck/CTestTestfile.cmake
build/deps/libressl/apps/openssl/cmake_install.cmake
build/deps/libressl/apps/openssl/CTestTestfile.cmake
build/deps/libressl/crypto/cmake_install.cmake
build/deps/libressl/crypto/crypto_p.sym
build/deps/libressl/crypto/crypto_p.ver
build/deps/libressl/crypto/CTestTestfile.cmake
build/deps/libressl/include/cmake_install.cmake
build/deps/libressl/include/CTestTestfile.cmake
build/deps/libressl/man/cmake_install.cmake
build/deps/libressl/man/CTestTestfile.cmake
build/deps/libressl/pkgconfig/libcrypto.pc
build/deps/libressl/pkgconfig/libssl.pc
build/deps/libressl/pkgconfig/libtls.pc
build/deps/libressl/pkgconfig/openssl.pc
build/deps/libressl/ssl/cmake_install.cmake
build/deps/libressl/ssl/CTestTestfile.cmake
build/deps/libressl/ssl/ssl.ver
build/deps/libressl/tests/cmake_install.cmake
build/deps/libressl/tests/CTestTestfile.cmake
build/deps/libressl/tls/cmake_install.cmake
build/deps/libressl/tls/CTestTestfile.cmake
build/deps/libressl/tls/tls.sym
build/deps/libressl/tls/tls.ver
build/deps/lmdb/cmake_install.cmake
build/deps/lmdb/liblmdb.a
build/deps/lmdb/CMakeFiles/lmdb.dir/lib/mdb.c.o
build/deps/lmdb/CMakeFiles/lmdb.dir/lib/midl.c.o
build/deps/lmdb/CMakeFiles/lmdb.dir/src/error.cc.o
build/deps/mimalloc/cmake_install.cmake
build/deps/mimalloc/CTestTestfile.cmake
build/deps/mimalloc/mimalloc.pc
build/deps/mimalloc/CMakeFiles/Export/852f1b4223ea4fde191a28fd090f3b11/mimalloc-release.cmake
build/deps/mimalloc/CMakeFiles/Export/852f1b4223ea4fde191a28fd090f3b11/mimalloc.cmake
build/deps/miniz/cmake_install.cmake
build/deps/miniz/libminiz.a
build/deps/miniz/miniz_export.h
build/deps/miniz/CMakeFiles/Export/ce466b740c10b52bd493a42de91419ff/minizTargets-release.cmake
build/deps/miniz/CMakeFiles/Export/ce466b740c10b52bd493a42de91419ff/minizTargets.cmake
build/deps/miniz/CMakeFiles/miniz.dir/miniz_tdef.c.o
build/deps/miniz/CMakeFiles/miniz.dir/miniz_tinfl.c.o
build/deps/miniz/CMakeFiles/miniz.dir/miniz_zip.c.o
build/deps/miniz/CMakeFiles/miniz.dir/miniz.c.o
build/deps/miniz/miniz/minizConfig.cmake
build/deps/miniz/miniz/minizConfigVersion.cmake
build/deps/miniz/miniz/minizTargets.cmake
build/deps/net/cmake_install.cmake
build/deps/net/libweb-server.a
build/deps/net/CMakeFiles/web-server.dir/src/base64.cc.o
build/deps/net/CMakeFiles/web-server.dir/src/web_server/content_encoding.cc.o
build/deps/net/CMakeFiles/web-server.dir/src/web_server/detect_session.cc.o
build/deps/net/CMakeFiles/web-server.dir/src/web_server/http_session.cc.o
build/deps/net/CMakeFiles/web-server.dir/src/web_server/query_router.cc.o
build/deps/net/CMakeFiles/web-server.dir/src/web_server/responses.cc.o
build/deps/net/CMakeFiles/web-server.dir/src/web_server/serve_static.cc.o
build/deps/net/CMakeFiles/web-server.dir/src/web_server/url_decode.cc.o
build/deps/net/CMakeFiles/web-server.dir/src/web_server/web_server.cc.o
build/deps/net/CMakeFiles/web-server.dir/src/web_server/websocket_session.cc.o
build/deps/pbf-sdf-fonts/cmake_install.cmake
build/deps/pbf-sdf-fonts/pbf_sdf_fonts_res/include/pbf_sdf_fonts_res.h
build/deps/pbf-sdf-fonts/pbf_sdf_fonts_res/src/pbf_sdf_fonts_res.cc
build/deps/protozero/cmake_install.cmake
build/deps/rapidjson/cmake_install.cmake
build/deps/res/cmake_install.cmake
build/deps/res/gitignore/include/gitignore.h
build/deps/res/gitignore/src/gitignore.cc
build/deps/res/mysrc/include/mysrc.h
build/deps/res/mysrc/src/mysrc.cc
build/deps/rtree.c/cmake_install.cmake
build/deps/rtree.c/librtree.a
build/deps/rtree.c/CMakeFiles/rtree.dir/rtree.c.o
build/deps/sol2/cmake_install.cmake
build/deps/sol2/sol2.pc
build/deps/sol2/CMakeFiles/Export/ebf4908cad80355a54bbda7e9be6ae68/sol2-targets.cmake
build/deps/sol2/cmake/sol2-config-version.cmake
build/deps/sol2/cmake/sol2-config.cmake
build/deps/sol2/cmake/sol2-targets.cmake
build/deps/tiles/cmake_install.cmake
build/deps/tiles/libtiles-import-library.a
build/deps/tiles/libtiles.a
build/deps/tiles/CMakeFiles/tiles-import-library.dir/src/osm/feature_handler.cc.o
build/deps/tiles/CMakeFiles/tiles-import-library.dir/src/osm/hybrid_node_idx.cc.o
build/deps/tiles/CMakeFiles/tiles-import-library.dir/src/osm/load_coastlines.cc.o
build/deps/tiles/CMakeFiles/tiles-import-library.dir/src/osm/load_osm.cc.o
build/deps/tiles/CMakeFiles/tiles-import-library.dir/src/osm/load_shapefile.cc.o
build/deps/tiles/CMakeFiles/tiles-import-library.dir/src/osm/read_osm_geometry.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/perf_counter.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/util.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/db/bq_tree.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/db/database_stats.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/db/feature_pack_quadtree.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/db/feature_pack.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/db/prepare_tiles.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/db/quad_tree.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/feature/aggregate_line_features.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/feature/aggregate_polygon_features.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/fixed/algo/bounding_box.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/fixed/algo/clip.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/fixed/io/deserialize.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/fixed/io/dump.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/fixed/io/serialize.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/mvt/encode_geometry.cc.o
build/deps/tiles/CMakeFiles/tiles.dir/src/mvt/tile_builder.cc.o
build/deps/tiles/tiles_server_res/include/tiles_server_res.h
build/deps/tiles/tiles_server_res/src/tiles_server_res.cc
build/deps/unordered_dense/cmake_install.cmake
build/deps/utl/cmake_install.cmake
build/deps/utl/libutl.a
build/deps/utl/CMakeFiles/utl.dir/src/progress_tracker.cc.o
build/deps/utl/CMakeFiles/utl.dir/src/timer.cc.o
build/deps/variant/cmake_install.cmake
build/deps/variant/CMakeFiles/Export/9bfa873c7180f59dcdc6e8f6bc150bd9/mpark_variant-targets.cmake
build/deps/variant/cmake/mpark_variant-config-version.cmake
build/deps/variant/cmake/mpark_variant-config.cmake
build/deps/variant/cmake/mpark_variant-targets.cmake
build/deps/zlib/cmake_install.cmake
build/deps/zlib/CTestTestfile.cmake
build/deps/zlib/libz.a
build/deps/zlib/zconf.h
build/deps/zlib/zlib.pc
build/deps/zlib/CMakeFiles/zlibstatic.dir/adler32.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/compress.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/crc32.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/deflate.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/gzclose.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/gzlib.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/gzread.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/gzwrite.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/infback.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/inffast.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/inflate.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/inftrees.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/trees.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/uncompr.c.o
build/deps/zlib/CMakeFiles/zlibstatic.dir/zutil.c.o
build/dl/pkg
build/generated/test_dir.h
build/lib/libgtest.a
build/osr-hessen/multi_level_elevators.bin
build/osr-hessen/node_in_way_idx_data.bin
build/osr-hessen/node_in_way_idx_index.bin
build/osr-hessen/node_properties.bin
build/osr-hessen/node_restricted.bin
build/osr-hessen/node_restrictions_data.bin
build/osr-hessen/node_restrictions_index.bin
build/osr-hessen/node_to_osm.bin
build/osr-hessen/node_ways_data.bin
build/osr-hessen/node_ways_index.bin
build/osr-hessen/way_node_dist_data.bin
build/osr-hessen/way_node_dist_index.bin
build/osr-hessen/way_nodes_data.bin
build/osr-hessen/way_nodes_index.bin
build/osr-hessen/way_osm_idx.bin
build/osr-hessen/way_osm_nodes_data.bin
build/osr-hessen/way_osm_nodes_index.bin
build/osr-hessen/way_polylines_data.bin
build/osr-hessen/way_polylines_index.bin
build/osr-hessen/way_properties.bin
ui/web/.prettierignore
ui/web/index.html
ui/web/css/index.css
ui/web/css/deps/Control.Geocoder.css
ui/web/css/deps/leaflet-routing-machine.css
ui/web/css/deps/leaflet.contextmenu.css
ui/web/css/deps/leaflet.css
ui/web/css/deps/Leaflet.PolylineMeasure.css
ui/web/images/geocoder.png
ui/web/images/layers-2x.png
ui/web/images/layers.png
ui/web/images/leaflet.routing.icons.png
ui/web/images/leaflet.routing.icons.svg
ui/web/images/marker-icon-2x.png
ui/web/images/marker-icon.png
ui/web/images/marker-shadow.png
ui/web/images/routing-icon.png
ui/web/images/throbber.gif
ui/web/js/geojson-overlay.js
ui/web/js/index.js
ui/web/js/L.Routing.PPR.js
ui/web/js/map-links.js
ui/web/js/profiles.js
ui/web/js/deps/Control.Geocoder.js
ui/web/js/deps/leaflet-routing-machine.js
ui/web/js/deps/leaflet-src.js
ui/web/js/deps/leaflet.contextmenu.js
ui/web/js/deps/leaflet.js
ui/web/js/deps/Leaflet.PolylineMeasure.js
CMakePresets.json
CMakePresets.json
.vscode/settings.json
